/* responsive  */

@media (min-width: 320px) and (max-width: 575.99px) {
  h4 {
    font-size: 26px;
    line-height: 44px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .btn:hover {
    border-color: #4caf4f;
    color: #fff;
    background-color: #4caf4f;
  }
  .navbar .buton .btn:first-child {
    color: #4caf4f;
    background: transparent;
  }
  .navbar .buton .btn:hover:first-child {
    background-color: transparent;
    color: #4caf4f;
    border-color: transparent;
  }
  .navbar .nav-link:hover {
    color: #18191f;
  }
  nav .navbar-toggler {
    border: 1px solid white;
    background: none;
  }

  nav .navbar-collapse {
    text-align: end;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
    border-color: gray;
  }
  nav button i {
    color: white;
    font-size: 18px;
  }
  nav .navbar-nav {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .navbar {
    padding: 15px 0;
  }
  .navbar ul {
    gap: 5px;
  }
  .navbar .nav-link {
    font-size: 12px;
  }
  nav .buton {
    margin-top: 20px;
  }
  .banner {
    padding: 46px 0;
  }
  .banner .row {
    row-gap: 64px;
  }
  .banner .row h1 {
    font-size: 44px;
    width: 100%;
    line-height: 56px;
  }
  .banner .row p {
    padding: 12px 0 20px 0;
    width: 100%;
  }
  .banner .row img {
    width: 100%;
    object-fit: cover;
  }
  .client .logo-part {
    flex-direction: column;
    gap: 10px;
  }
  .community .top-text h4 {
    width: 100%;
    line-height: 30px;
  }
  .community .cart-part {
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
  }
  .community .cart-part .card {
    width: 100% !important;
  }
  .community .card:hover {
    transform: translateY(0px);
  }
  .Pixelgrade {
    padding: 32px 0 50px 0;
  }
  .Pixelgrade .part-section {
    flex-direction: column;
  }
  .Pixelgrade .part-section img {
    width: 100%;
  }
  .Pixelgrade .text-part h4 {
    width: 100%;
    line-height: 35px;
  }
  .Pixelgrade .text-part p {
    margin: 16px 0 31px 0;
    width: 100%;
  }
  .busniess .left h4 {
    width: 100%;
  }

  .customer .main-div {
    flex-direction: column;
  }
  .customer .main-div p {
    width: 100%;
  }
  .customer .customer-logo i {
    display: none;
  }
  .customer .customer-logo {
    flex-direction: column;
    gap: 10px;
  }
  .marketing .card-pard .sub-cart {
    margin-left: 25px;
  }
  .marketing .text p {
    width: 550px;
    margin: 0 auto;
    text-align: center;
  }
  .marketing .card-pard .image {
    width: 100%;
  }
  .marketing .card-pard {
    flex-direction: column;
    gap: 144px;
  }
  .marketing .text p {
    width: 100%;
  }
  .marketing .card-pard .sub-cart i {
    display: none;
  }
  .Pellentesque {
    padding: 22px 0;
  }
  .Pellentesque h2 {
    font-size: 28px;
    width: 100%;
    line-height: 50px;
  }
  .Pellentesque i {
    display: none;
  }
  .footer .text-part i:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer .row {
    row-gap: 40px;
  }
  .footer .menus li a:hover {
    color: #f5f7fa;
  }
}
@media (min-width: 576px) and (max-width: 767.99px) {
  h4 {
    font-size: 26px;
    line-height: 44px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .btn:hover {
    border-color: #4caf4f;
    color: #fff;
    background-color: #4caf4f;
  }
  .navbar .buton .btn:first-child {
    color: #4caf4f;
    background: transparent;
  }
  .navbar .buton .btn:hover:first-child {
    background-color: transparent;
    color: #4caf4f;
    border-color: transparent;
  }
  .navbar .nav-link:hover {
    color: #18191f;
  }
  nav .navbar-toggler {
    border: 1px solid white;
    background: none;
  }

  nav .navbar-collapse {
    text-align: end;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
    border-color: gray;
  }
  nav button i {
    color: white;
    font-size: 18px;
  }
  nav .navbar-nav {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .navbar {
    padding: 15px 0;
  }
  .navbar ul {
    gap: 5px;
  }
  .navbar .nav-link {
    font-size: 12px;
  }
  nav .buton {
    margin-top: 20px;
  }
  .banner {
    padding: 46px 0;
  }
  .banner .row {
    row-gap: 64px;
  }
  .banner .row h1 {
    font-size: 44px;
    width: 100%;
    line-height: 56px;
  }
  .banner .row p {
    padding: 12px 0 20px 0;
    width: 60%;
  }
  .banner .row .col-lg-5:last-child {
    width: 100%;
    text-align: center;
  }
  .banner .row img {
    width: 80%;
    object-fit: cover;
  }
  .client .logo-part {
    flex-direction: column;
    gap: 10px;
  }
  .community .top-text h4 {
    width: 80%;
    line-height: 30px;
  }
  .community .cart-part {
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
  }
  .community .cart-part .card {
    width: 80% !important;
  }
  .community .card:hover {
    transform: translateY(0px);
  }
  .Pixelgrade {
    padding: 32px 0 50px 0;
  }
  .Pixelgrade .part-section {
    flex-direction: column;
  }
  .Pixelgrade .part-section img {
    width: 90%;
  }
  .Pixelgrade .text-part h4 {
    width: 80%;
    line-height: 35px;
  }
  .Pixelgrade .text-part p {
    margin: 16px 0 31px 0;
    width: 100%;
  }
  .busniess .left h4 {
    width: 70%;
  }

  .customer .main-div {
    flex-direction: column;
  }
  .customer .main-div p {
    width: 100%;
  }
  .customer .customer-logo i {
    display: none;
  }
  .customer .customer-logo {
    flex-direction: column;
    gap: 10px;
  }
  .marketing .card-pard .sub-cart {
    margin-left: 25px;
  }
  .marketing .text p {
    width: 550px;
    margin: 0 auto;
    text-align: center;
  }
  .marketing .card-pard .sub-cart i {
    display: none;
  }
  .marketing .card-pard .image {
    width: 100%;
  }
  .marketing .card-pard {
    flex-direction: column;
    gap: 144px;
  }
  .marketing .text p {
    width: 100%;
  }
  .Pellentesque {
    padding: 22px 0;
  }
  .Pellentesque h2 {
    font-size: 28px;
    width: 80%;
    line-height: 50px;
  }
  .Pellentesque i {
    display: none;
  }
  .footer .text-part i:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer .row {
    row-gap: 40px;
  }
  .footer .menus li a:hover {
    color: #f5f7fa;
  }
}
@media (min-width: 768px) and (max-width: 991.99px) {
  p {
    font-size: 12px;
    line-height: 20px;
  }
  .btn {
    font-size: 14px;
    padding: 14px 28px;
  }
 
  nav .navbar-toggler {
    border: 1px solid white;
    background: none;
  }

  nav .navbar-collapse {
    text-align: end;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
    border-color: gray;
  }

  nav .navbar-nav {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .navbar {
    padding: 15px 0;
  }
  .navbar ul {
    gap: 5px;
  }
  .navbar .nav-link {
    font-size: 14px;
  }
  nav .buton {
    margin-top: 20px;
  }
  .banner {
    padding: 96px 0;
  }
  .banner .row {
    row-gap: 64px;
  }
  .banner .row h1 {
    font-size: 48px;
    width: 80%;
    line-height: 64px;
  }
  .banner .row p {
    padding: 12px 0 20px 0;
    width: 70%;
    font-size: 14px;
  }
  .banner .row .col-lg-5:last-child {
    width: 100%;
    text-align: center;
  }
  .banner .row img {
    width: 70%;
    object-fit: cover;
  }
  .client h4 {
    font-size: 38px;
    line-height: 44px;
  }
  .client p {
    font-size: 14px;
  }

  .community .top-text h4 {
    width: 80%;
    line-height: 40px;
  }
  .community .top-text p {
    font-size: 14px;
  }
  .community .cart-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .Pixelgrade {
    padding: 32px 0 50px 0;
  }
  .Pixelgrade .part-section {
    flex-direction: column;
  }
  .Pixelgrade .part-section img {
    width: 90%;
  }
  .Pixelgrade .text-part h4 {
    width: 90%;
    line-height: 45px;
    font-size: 38px;
  }
  .Pixelgrade .text-part p {
    margin: 16px 0 31px 0;
    width: 100%;
    font-size: 14px;
  }
  .busniess .left h4 {
    font-size: 38px;
    width: 80%;
    line-height: 48px;
  }
  .busniess .left p {
    font-size: 14px;
  }
  .busniess .right .right-part h5 {
    font-size: 28px;
  }
  .busniess .right .right-part p {
    font-size: 14px;
  }
  .customer .main-div {
    flex-direction: column;
  }
  .customer .main-div p {
    width: 100%;
  }
  .customer .customer-logo {
    gap: 10px;
  }

  .customer .main-div .text-part p {
    font-size: 14px;
  }
  .customer .main-div .text-part span {
    font-size: 28px;
  }
  .marketing .card-pard .sub-cart {
    margin-left: 25px;
  }
  .marketing .text p {
    width: 550px;
    margin: 0 auto;
    text-align: center;
  }
  
  .marketing .card-pard .image {
    width: 100%;
  }
  .marketing .card-pard {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 144px;
  }
  .marketing .text h4{
    font-size: 38px;
  }
  .marketing .text p {
    width: 90%;
    font-size: 14px;
  }
  .Pellentesque {
    padding: 22px 0;
  }
  .Pellentesque h2 {
    font-size: 38px;
    width: 80%;
    line-height: 50px;
  }
 

  .footer .row {
    row-gap: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
  
  .btn {
    font-size: 18px;
    padding: 14px 28px;
  }
 
  nav .navbar-toggler {
    border: 1px solid white;
    background: none;
  }

  nav .navbar-collapse {
    text-align: end;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
    border-color: gray;
  }

  nav .navbar-nav {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .navbar {
    padding: 15px 0;
  }
  .navbar ul {
    gap: 5px;
  }
  .navbar .nav-link {
    font-size: 14px;
  }
  nav .buton {
    margin-top: 20px;
  }
  .banner {
    padding: 96px 0;
  }
  
  .banner .row h1 {
    font-size: 48px;
    line-height: 64px;
    width: 500px;
  }
  .banner .row p {
    padding: 12px 0 20px 0;
    font-size: 18px;
    width: 500px;
    line-height: 35px;
  }
  .banner .row{
  column-gap: 150px;
 }
  .client h4 {
    font-size: 48px;
    line-height: 44px;
  }
  .client p {
    font-size: 18px;
  }

  .community .top-text h4 {
    width: 70%;
    font-size: 48px;
    line-height: 64px;
  }
  .community .top-text p {
    font-size: 18px;
  }
  
  .Pixelgrade {
    padding: 32px 0 50px 0;
  }
  
  .Pixelgrade .part-section img {
    width: 100%;
  }
  .Pixelgrade .text-part h4 {
    line-height: 45px;
    font-size: 30px;
  }
  .Pixelgrade .text-part p {
    margin: 16px 0 31px 0;
    font-size: 14px;
  }
  .busniess .left h4 {
    font-size: 38px;
    line-height: 48px;
  }
  .busniess .left p {
    font-size: 14px;
  }
  .busniess .right .right-part h5 {
    font-size: 28px;
  }
  .busniess .right .right-part p {
    font-size: 14px;
  }
  
  .customer .main-div p {
    width: 100%;
  }
  .customer .customer-logo {
    gap: 10px;
  }

  .customer .main-div .text-part p {
    font-size: 14px;
  }
  .customer .main-div .text-part span {
    font-size: 28px;
  }
  .marketing .card-pard .sub-cart {
    margin-left: 25px;
  }
  .marketing .text p {
    width: 550px;
    margin: 0 auto;
    text-align: center;
  }
  
  .marketing .card-pard .image {
    width: 100%;
  }
  
  .marketing .text h4{
    font-size: 48px;
  }
  .marketing .text p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 32px;
  }
  .marketing .card-pard .sub-cart{
  width: 230px;
  height: 200px;
  margin-top: -80px;
  margin-left: 35px;
 
}
.marketing .card-pard .sub-cart p{
  font-size: 16px;
  width: 195px;
}
  .Pellentesque {
    padding: 22px 0;
  }
  .Pellentesque h2 {
    font-size: 38px;
    width: 80%;
    line-height: 50px;
  }
 
.footer .menus input{
  padding: 9px 0px 11px 12px;

} 
  .footer .row {
    row-gap: 40px;
  }
}
